

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore the resources folder
# resources

# Ignore log file
*.log

# Ignore bin file
bin

# Ignore service key
serviceAccountKey.json

.DS_Store